<h2><%= currentUser.name %>'s Profile</h2>




<ul> 
    <% songs.forEach((song) => { %>
        <li ><%= song.title %></li>
    <% }) %>
    </ul> 

    <link rel="stylesheet" href="/static/style.css">