<h2><%= currentUser.name %>'s Profile</h2>

<form action= "/Mood" method="post">
    <label for="mood">Mood</label> 
    <button type="submit">Choose</button>
</form>

<form action="/Genre" method="post">
    <label for="genre">Genre</label>
    <button type="submit">Choose</buton>
</form> 